* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 90%;
  margin: auto;
  padding: 40px;
}
.header {
  width: 100vw;
  height: 100vh;
  background-image: url("images/banner/banner3.png");
  background-color: gold;
}
.header-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 20% 10%;
}
.header-item {
  width: 400px;
  text-align: right;
}
.header-item-heading {
  font-weight: 800;
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}
/* .header-item-heading >.for-right{
    margin-left: auto;
   
} */
.header-item-description {
  color: white;
  margin-bottom: 20px;
}

.header-item-button {
  color: blue;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-left: auto;
}
/* main first section start */
.first-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.first-section-item-one > img {
  width: 400px;
}
.first-section-item-two-heading {
  margin-bottom: 20px;
  width: 300px;
  color: #151414;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
}
.first-section-item-two-description {
  width: 400px;
  margin-bottom: 20px;
}
.checked-items-p {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* main first section end*/

/* main second section start */
.main-second-section {
    margin-top: 50px;
  padding: 50px 0px;
}
.second-section-heading {
  text-align: center;
  margin-bottom: 50px;
}
.main-second-section-items {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
}
.second-section-item {
  text-align: center;
  line-height: 2;
}
/* main second section end */

/* main third section start */
.main-third-section {
  margin-top: 50px !important;
  width: 70%;
  margin: auto;
  padding: 50px;
  background-image: url("images/gradient1.png"), url("images/watch.png");
  background-repeat: no-repeat;
  /* background-blend-mode: overlay; */
  background-position: 0, center;
}
.third-item {
  width: 400px;
}
.third-item-heading {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.third-item-button {
  background-color: white;
  color: rgb(45, 45, 113);
  padding: 20px 35px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 50px 0;
  font-size: 17px;
}

/* footer start */
footer{
    background-color: black;
    padding: 60px;
}
.footer-items{
    color: white;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
}
.footer-item-one{
    width: 400px;
}
.footer-item-one >P{
   margin: 20px 0;
}
.icons{
    display: flex;
    gap: 10px;
}
.footer-item-two{
    width: 250px;
}
.footer-item-two>input{
    width: 80%;
    padding: 10px 22px;
    margin: 20px 0 10px 0;
    border-radius: 5px;
    background: none;
    outline: none;
    border: 1px solid #999;

}
.footer-item-two-button{
    padding: 12px 22px;
    font-size: 17px;
    border-radius: 5px;
    background-color: #005FAC;
    color: white;
    outline: none;
    border: none;
}
